// TYPOGRAPHY
// ----------------------------------------------
$brand-font: 'Arial', sans-serif;

// BRAND COLORS
// ----------------------------------------------
$sky-blue: #81C7EA;
$text-gray: #373737;

