// TYPOGRAPHY
// ----------------------------------------------
$brand-font: 'Arial', sans-serif;

// BRAND COLORS
// ----------------------------------------------
$navy-blue: #287CB5;
$text-gray: #373737;
$border-gray: lighten($text-gray, 60%);
